<% @job.errors.any? do %>
  <% @job.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %> 

<div class="form-group">
  <%= form_with model: @job, local: true do |form| %>

    <div class="field form-group">
      <%= form.label :title_job, 'Nome' %>
      <%= form.text_field :title_job, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :description, 'Descrição' %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :salary_range, 'Salario' %>
      <%= form.number_field :salary_range, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :level, 'Nivel' %>
      <%= form.select :level, Job.levels.map { |key, value| [key.humanize, key] }, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :requisite, 'Requisitos' %>
      <%= form.text_field :requisite, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :date_limit, 'Data limite' %>
      <%= form.date_field :date_limit, class: "form-control" %>

      <cite>(Padrao: 30 dias)</cite>
    </div>

    <div class="field form-group">
      <%= form.label :quantity, 'Quantidade de vagas' %>
      <%= form.number_field :quantity, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :status, 'Status' %>
      <%= form.select :status, Job.statuses.map { |key, value| [key.humanize, key] }, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>