<%= link_to 'Voltar', root_path %>
<h2>Detalhes da Vaga</h2>

<p>Nome da vaga: <%= @job.title_job %></p>
<p>Descrição: <%= @job.description %></p>
<p>Salario: <%= number_to_currency(@job.salary_range, precision: 2, separator: ',') %></p>
<p>Nive: <%= @job.level %></p>
<p>Requisitos: <%= @job.requisite %></p>
<p>Data Limite: <%= I18n.localize(@job.date_limit) %></p>
<p>Quantidade de vagas: <%= @job.quantity %></p>
<p>Status: <%= @job.status %></p>

<% if collaborator_signed_in? && @job.company.collaborators.include?(current_collaborator) %>
  <p><%= link_to 'Editar job', edit_job_path(@job) %></p>
<hr>

<h3>Candidaturas recebidas: <%= @job.applications.count %></h3>

  <% @job.applications.each do |application| %>
    <p>Candidato: <%= application.candidate.name %> | <%= application.candidate.email %></p>
  <% end %>
<% end %>

<% if @job.Disponivel? %>
  <p>
    <%= link_to  'Candidatar', applications_path(job: { id: @job }), method: :post %>
  </p>
<% end %>
