<%= link_to 'Voltar', root_path, class:"button btn btn-sm" %>
<h3>Detalhes da Vaga</h3>
<div class="div_center">
  <p>Nome da vaga: <%= @job.title_job %></p>
  <p>Descrição: <%= @job.description %></p>
  <p>Salario: <%= number_to_currency(@job.salary_range, precision: 2, separator: ',') %></p>
  <p>Nivel: <%= @job.level %></p>
  <p>Requisitos: <%= @job.requisite %></p>
  <p>Data Limite: <%= I18n.localize(@job.date_limit) %></p>
  <p>Quantidade de vagas: <%= @job.quantity %></p>
  <p>Status: <%= @job.status %></p>
</div>

<% if collaborator_signed_in? && @job.company.collaborators.include?(current_collaborator) %>
  <div class="div_center">
    <%= link_to 'Editar job', edit_job_path(@job), class:"btn btn-primary" %>
  </div>
  <hr>

  <h3>Candidaturas recebidas: <%= @job.applications.count %></h3>
  <hr>
  <% @job.applications.each do |application| %>

    <div class="custom_form_search collaborator_home">
      <p>Candidato: <strong><%= application.candidate.name %></strong></p>
      <p>E-mail: <%= application.candidate.email %></p>
      <p>Status: <strong><%= t(application.status) %></strong><p>
    </div>

    <div class="div_center">
      <% unless application.refuse_msg.nil? %>
        <p>
          Motivo: <%= application.refuse_msg %>
        </p>
      <% end %>

      <% if Proposal.can_add_proposal?(application) %>
        <p>
          <%= link_to 'Enviar proposta', new_proposal_path(proposal: { id: application }) %>
        </p>
      <% end %>

      <% if application.proposals.any? %>
        <strong>Proposta:</strong>
        <% proposal = application.proposals.last  %>
          <p>Status: <%= proposal.status %></p>
          <p>Mensagem: <%= proposal.message %></p>
          <p>Salario: <%= number_to_currency(proposal.wage, precision: 2, separator: ',') %></p>
          <p>Data de inicio: <%= I18n.localize(proposal.date_init) %></p>
      <% end %>
    </div>

    <% unless application.denied? %>
      <div class="div_center">
        <%= link_to 'Cancelar candidatura', edit_application_path(application), class: "btn btn-danger" %>
      </div>
    <% end %>
    <hr>
  <% end %>
<% end %>

<% if @job.available? && not(collaborator_signed_in?)%>
  <div class="div_center">
    <%= link_to  'Candidatar', applications_path(job: { id: @job }), method: :post, class: "btn btn-primary"  %>
  </div>
<% end %>
<br>