
<h2>
  <%= link_to t('home.index.employment_system'), root_path %> 
  <span class= "icones"><i class="bi bi-shop"></i></span>
</h2>


<% if collaborator_signed_in? %> 

  <p>
    <%= current_collaborator.email %> | 
    Empresa: <%= link_to current_collaborator.company.name, company_path(current_collaborator.company) %> | 
    <%= link_to 'Dashboard', collaborators_path %> | 
    <%= link_to "Logout", destroy_collaborator_session_path, method: :delete %>
  </p>

<% elsif candidate_signed_in? %>

  <p>
    <%= current_candidate.email %> | 
    <%= link_to 'Dashboard', candidates_path %> | 
    <%= link_to "Logout", destroy_collaborator_session_path, method: :delete %>
  </p>

<% else %>

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item"> 
      <span class="candidat-collab">
        <i class="bi bi-building"></i>
      </span>
      <%= link_to "Empresa", new_collaborator_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <span class="candidat-collab"> 
        <i class="bi bi-people"></i>
      </span>
      <%= link_to "Candidato", new_candidate_session_path, class: "nav-link" %>
    </li>
  </ul>

<% end %>

<%= render partial: 'shared/search_form' %>
