<h1><%= link_to t('home.index.employment_system'), root_path %></h1>

<% if collaborator_signed_in? %> 

  <p>
    <%= current_collaborator.email %> | 
    Empresa: <%= link_to current_collaborator.company.name, company_path(current_collaborator.company) %> | 
    <%= link_to 'Dashboard', collaborators_path %> | 
    <%= link_to "Logout", destroy_collaborator_session_path, method: :delete %>
  </p>

<% elsif candidate_signed_in? %>

  <p>
    <%= current_candidate.email %> | 
    <%= link_to 'Dashboard', candidates_path %> | 
    <%= link_to "Logout", destroy_collaborator_session_path, method: :delete %>
  </p>


<% else %>
  <p><%= link_to "Empresa", new_collaborator_session_path %> | 
  <%= link_to "Candidato", new_candidate_session_path %></p>
<% end %>

<%= render partial: 'shared/search_form' %>
<hr>
