<%= link_to 'Voltar', collaborators_path, class:"button btn btn-sm" %>

<% @company.errors.any? do %>
  <% @company.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
<% end %>

<h2>Atualizar Empresa</h2>

<div class="form-group">
  <%= form_with model: @company, local: true do |form| %>

    <div class="field form-group">
      <%= form.label :name, 'Nome' %>
      <%= form.text_field :name, class: "form-control" %>
    </p>

    <div class="field form-group">
      <%= form.label :logo, 'Upload de imagem' %>
      <%= form.text_field :logo , class: "form-control"%>
    </div>

    <div class="field form-group">
      <%= form.label :address, 'Endereço' %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :cnpj, 'CNPJ' %>
      <%= form.text_field :cnpj, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :site, 'Site' %>
      <%= form.url_field :site, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<div>
<br>

<%= link_to 'Adicionar redes sociais', new_social_network_path, class: "btn btn-light" %>

<% @social_networks.each do |social_network| %>
  <p>
    <%= link_to social_network.name, social_network %> |  
    <%= social_network.url %> | 
    <%= link_to 'Editar', edit_social_network_path(social_network) %> | 
    <%= link_to 'Apagar', social_network, method: :delete %>
  </p>
<% end %>

<div class="div_center">
  <% alert_prompt = 'Tanto empresa quanto colaboradores serão apagados, tem certeza que quer continuar?' %>
  <%= link_to 'Apagar Empresa', company_path(current_collaborator.company), data: { confirm: alert_prompt }, method: :delete, class: "btn btn-danger btn-apaga-empresa" %>
</div>
