<%= link_to 'Voltar', root_path%>

<h2>Empresa Atualizada</h2>

<p><%= @company.name %></p>
<p><%= @company.logo %></p>
<p><%= @company.address %></p>
<p><%= @company.cnpj %></p>
<p><%= @company.site %></p>
