<%= link_to 'Voltar', root_path%>

<h2>Empresa Atualizada</h2>

<p><%= @company.name %></p>
<p><%= @company.logo %></p>
<p><%= @company.address %></p>
<p><%= @company.cnpj %></p>
<p><%= @company.site %></p>

<% @company.social_networks.each do |network| %>
  <p><%= network.name %> || 
  <%= network.url %></p>
<% end %>

<p>
  <%= link_to 'Editar Empresa', edit_company_path(current_collaborator.company) %>
</p>