<%= link_to 'Voltar', root_path%>

<h2>Empresa Atualizada</h2>

<p><%= @company.name %></p>
<p><%= @company.logo %></p>
<p><%= @company.address %></p>
<p><%= @company.cnpj %></p>
<p><%= @company.site %></p>

<% @company.social_networks.each do |network| %>
  <p><%= network.name %> || 
  <%= network.url %></p>
<% end %>

<% if collaborator_signed_in? && @company.is_same_company?(current_collaborator) %>
  <p>
    <%= link_to 'Cadastrar Job', new_job_path %>
  </p>
<% end %>
<hr>

<% @company.jobs.each do |job| %>

  <p>Vaga: <%= link_to job.title_job, job_path(job) %></p>

  <p>Descrição: <%= job.description %></p>

  <p>
    Salario: <%= number_to_currency(job.salary_range, precision: 2, separator: ',') %>
  </p>

  <p>Nivel: <%= job.level %></p>

  <% if collaborator_signed_in? && @company.is_same_company?(current_collaborator) %>
    <p><%= link_to 'Editar job', edit_job_path(job) %></p>
    <p><%= link_to 'Apagar', job_path(job), method: :delete, id: "delete_job_#{job.id}" %></p>
  <% end %>
  <hr>
<% end %>
