<%= link_to 'Voltar', url_for(:back) %>

<h2>Rede Social</h2>

<p><%= @social_network.name %></p>
<p><%= @social_network.url %></p>
<p><%= link_to 'Editar', edit_social_network_path(@social_network) %> | 
<%= link_to 'Apagar', @social_network, method: :delete %></p>
