<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= t(:employment_system_title) %>
      
      <% if candidate_signed_in? %>
        (Candidato)
      <% elsif collaborator_signed_in? %>
        (Colaborador)
      <% end %>
      
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application_custom', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/header" %>

    <div class="container"> 
      <%= render partial: "shared/notice_alert" %>
      <%= yield %>
    </div>
  </body>
</html>
